<main>
    <div class="vignette hide"></div>
    <img src="media/8.background.png" data-speedx="0.15" data-speedy="0.2" data-speedz="0" data-distance="-200" class="parallax bg-img">
    <div class="text parallax" data-speedx="0.25" data-speedy="0.3" data-speedz="0.25">
        <h3>
            GUIDED BY EXPERTISE <br>
            EMPOWERED BY INNOVATION
        </h3>
        <h2>TRADING DOJO</h2>
    </div>
    <img src="media/5.random_guy.png"  data-speedx="0.11" data-speedy="0.24" data-speedz="0.18" data-distance="900" class="parallax guy">
    <img src="media/4.tree-center.png"  data-speedx="0.1" data-speedy="0.23" data-speedz="0.15" data-distance="1000" class="parallax tree-1">
    <img src="media/3.tree-left.png"  data-speedx="0.2" data-speedy="0.15" data-speedz="0.2" data-distance="1200" class="parallax tree-2">
    <img src="media/2.floor.png"  data-speedx="0.1" data-speedy="0.23" data-speedz="0.15" data-distance="1000" class="parallax floor">
    <img src="media/1.fog.png"  data-speedx="0.075" data-speedy="0.15" data-speedz="0.2" data-distance="-200" class="fog hide">
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>