<main>
    <div class="vignette"></div>
    <img src="media/8.background.png" data-speedx="0.15" data-speedy="0.2" alt="" class="parallax bg-img">
    <div class="text parallax" data-speedx="0.25" data-speedy="0.3">
        <h3>
            GUIDED BY EXPERTISE <br>
            EMPOWERED BY INNOVATION
        </h3>
        <h2>TRADING DOJO</h2>
    </div>
    <img src="media/5.random_guy.png"  data-speedx="0.11" data-speedy="0.24" alt="" class="parallax guy">
    <img src="media/4.tree-center.png"  data-speedx="0.1" data-speedy="0.23" alt="" class="parallax tree-1">
    <img src="media/3.tree-left.png"  data-speedx="0.2" data-speedy="0.15" alt="" class="parallax tree-2">
    <img src="media/2.floor.png"  data-speedx="0.1" data-speedy="0.23" alt="" class="parallax floor">
    <img src="media/1.fog.png"  data-speedx="0.075" data-speedy="0.15" alt="" class="fog">
</main>

<div class="container">
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium facere rerum distinctio perferendis consequuntur laudantium magni sed perspiciatis natus, quis, placeat impedit iure fugit in cum et ipsa deleniti. Quae!</h1>
</div>